.content {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1200px;
    width: 1200px;
	min-height: 100vh;

	display: flex;
	border: 1px solid #aaafff;

}

.profile__component {
	width: 900px;

	

}
.info {
	display:grid;
	grid-template-areas: "img desc "
						"user user"
						"map map"
						"logout logout";
    grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;    
	margin-top:25px;
}
.dog_img {
	grid-area: img;
	outline: 1px solid red;

}
.dog__desc {
	grid-area: desc;
	
	padding:20px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	
}
.user {
	grid-area: user;
	
	padding:40px 40px;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	
}
.map {
	grid-area: map;
	
	padding-left: 35%;
	font-weight: normal;
	line-height: 1.5;
	font-size: 20px;


}
.logout {
	grid-area:logout;
	border-radius: 5px;
	width: 30%;
	height: 50px;
	margin-top:20px;
}


@media (max-width: 660px) {
	.content {
		padding: 0;
	}
}

.dog-photo img {
	width: 300px;
	max-height: 350px;
}

.file-upload {
	background-color: white;
	padding: 15px 20px;
}