.content {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1200px;
    width: 1200px;
	min-height: 100vh;

	display: flex;
	border: 1px solid #aaafff;

}

.profile__component {
	width: 900px;
	background-color: khaki;
}

@media (max-width: 660px) {
	.content {
		padding: 0;
	}
}