.wrapper {
    padding: 50px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    /*height: 100vh;*/

    display: flex;
    justify-content: space-between;

    padding: 50px 0;

}

.title {
    max-width: 450px;
    font-size: 50px;
    font-weight: 300;
    color: #888888;
}



@media  {
    
}

.form {
    width: 400px;
    box-sizing: border-box;
}

.form input {
    box-sizing: border-box;
    font-size: 13px;

    width: 300px;
    height: 30px;
    padding: 0 15px;
    margin-bottom: 15px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #888888;
}

.form div {
    width: 300px;
    padding: 0 15px;
    font-size: 14px;
    color: #474a4d;
}

.select {
    background: none;
    margin-bottom: 15px;
    border: none;
    margin-left: 30px;
}

.select > option {

}