:root {
    --btn-like-padding: 10px 15px;
    --form-text-size: 16px;
}

.wrapper {
    padding: 50px 20px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    padding: 50px 0;
    box-sizing: border-box;
}

.auth__wrapper {
    width: 350px;
    margin-left: 15px;
}

.title {
    max-width: 450px;

    margin-right: 10px;

    font-size: 50px;
    font-weight: 300;
    color: #888888;
}

.auth__wrapper {
    max-width: 350px;
}

.auth__buttons {
    display: flex;
    margin-bottom: 20px;
}

.button__item {
    width: 50%;

    font-size: var(--form-text-size);
    text-align: center;
    padding: var(--btn-like-padding);
    border: 1px solid #dddddd;
}

.button__item a {
    color: #474a4d;
}

.form {
    box-sizing: border-box;
}

.form input {
    width: 100%;
    color: #474a4d;

    box-sizing: border-box;
    padding: var(--btn-like-padding);
    margin-bottom: 15px;

    font-size: var(--form-text-size);

    background: none;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #dddddd;
}

.button {
    font-size: 14px;
    color: #474a4d;
    float: right;
    border: 1px solid #dddddd;
    background: none;
    outline: none;
    padding: var(--btn-like-padding);
    border-radius: 10px;
    margin-top: 15px;
}

.error {
    text-align: center;
    color: #c90000;
    font-weight: 500;
    margin-bottom: 15px;
}

@media (max-width: 660px) {
    :root {
        --btn-like-padding: 5px;
        --form-text-size: 12px;
    }

    .wrapper {
        padding: 10px 20px;
    }

    .main {
        padding: 25px 0 10px 0;
    }

    .title {
        font-size: 32px;
        margin-right: 20px;
    }

    .auth__buttons {
        margin-bottom: 10px;
    }

    .form input {
        margin-bottom: 10px;
    }

    .button {
        margin-top: 7px;
    }
}

@media (max-width: 500px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-right: 0;

        font-size: 23px;
        text-align: center;
    }

    .auth__wrapper {
        margin-top: 18px;
        max-width: none;
        width: 100%;
    }
}