.parameter {
    margin-left: 20px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
}

.parameter:last-child {
    margin-bottom: 0;
}

.parameter__checkbox {
    margin: 0 5px 0 0;
}

@media (max-width: 500px) {
    .parameter {
        margin-left: 12px;
    }
}