.parameter {
    margin-left: 23px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
}

.parameter:last-child {
    margin-bottom: 0;
}

.parameter__checkbox {
    margin: 0 5px 0 0;
}