.wrapper {
	width: 300px;
	margin-right: 10px;

	height: inherit;
	background-color: #ccc;
}

.list {
	list-style: none;
}
.list__item {
	margin-bottom: 10px;
}

.list__item  a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.list__item a.active {
	color: gold;
}