.recommendation {
    display: flex;
    flex: auto;
}

.results__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 20px;
}

.card__wrapper {
    width: 300px;
    height: 350px;
    padding: 10px;
    margin-bottom: 15px;
    background: white;
    border-radius: 20px;
}
.pets-info__photo {
    text-align: center;
}

.pets-info__photo img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.sorry {
    margin: auto;
    color: dimgray;
}