.item__body-enter {

}

.item__body-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.item__body-exit {

}

.item__body-exit-active {
    transition: all var(--speed) ease;
}
